.App {
  text-align: center;
  margin: 0 auto;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.btn-round {
  background-color: white;
  border-color: #ddd;
  border-radius: 50%;
  margin: 1em;
  min-height: 50px;
  min-width: 50px;
}

.btn-icon {
  vertical-align: middle;
  fill: #1e9b44;
}

.highlight {
  color: #22ff66;
  text-shadow: 0 0 2px #22ff99;
  transition-timing-function: ease-in;
  transition-duration: 0.15s;
}

.NoteList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-flow: center;
  align-content: flex-start;
  justify-content: center;
  width: 100%;
}

.Note-container {
  background-color: #272938;
  padding: 0.5em;
  margin: 0.5em;
  border-radius: 4px;
  box-shadow: 0 1px 0 1px #222;
  max-width: 340px;
  opacity: 1;
  animation: show 0.5s ease-in;
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
